# Подключаем кодировку по умолчанию для всего сайта
AddDefaultCharset utf-8
# Включаем модуль перенаправления
RewriteEngine On
# Перенаправляем все запросы на папку public
RewriteRule (.*) public/$1
# Для того что бы сервер работал правильно, необходимо так же создать файл .htaccess в папке public