# Добавляем условие перенаправления
# Если запрос не идёт НЕ на существующий файл (ключ -f) или на НЕ существующую папку (ключ -d)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Тогда мы должны использовать следующее правило...
RewriteRule (.*) index.php?$1 [L,QSA]
# Флаги L и QSA
# Флаг L - означает last (последнее правило), т.е другие правила (если они есть в директиве) срабатывать не должны
# Флаг QSA  - абреввиатура Query String Append. Она означает, что если у нас будут какие либо дополнительные параметры
# (например для пагинации страниц или поиска и т.д.), то они не должны отбрасываться, а должны дополняться к уже существующим GET параметрам